# .gitignore

# Виртуальное окружение
.venv/
venv/
env/

# Файлы Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Файлы IDE
.vscode/
.idea/
*.swp
*.swo

# Файлы токенов и чувствительных данных
*.json
*.pem
*.key
.env
token_cache.json
api_merch_token.json

# Логи
*.log
logs/

# Временные файлы
temp/
tmp/

# Файлы Excel
*.xlsx
*.xls

# Системные файлы
.DS_Store
Thumbs.db

# Файлы базы данных
*.db
*.sqlite